@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 356px;
}

body {
  color: #1c1c22;
  line-height: 1.4;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #ebeae6;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
Например header__container, main__container і т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 85.375rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button--fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 15px;
  line-height: 20px;
  height: 60px;
  color: #1c1c22;
  width: 100%;
  display: block;
  padding: 20px;
  font-weight: 500;
  outline: 1px solid #d4d3cf;
  background-color: #ebeae6;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.input._form-error {
  border: 1px solid #906969;
}

.input.input_andbuttons {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.article__form-wrapper .article__input-wrapper .input {
  border-radius: 0;
}

.article__form-wrapper .article__input-wrapper:first-child .input {
  border-radius: 15px 0 0 15px;
}

.article__form-wrapper .article__input-wrapper:last-child .input {
  border-radius: 0 15px 15px 0;
}

article.choosegame__item_tarifs .input {
  height: 60px;
  font-size: 0.75rem;
  background-color: #e0dfdc;
}

.input._input-error {
  position: relative;
  border-radius: 15px 0 0 15px;
  border: 1px solid var(--100, #906969);
  background: var(--10, rgba(144, 105, 105, 0.1));
}

.article__input-wrapper:last-child .input._input-error {
  border-radius: 15px;
}

.article__placeholder {
  position: absolute;
  pointer-events: none;
  color: rgba(28, 28, 34, 0.5);
  left: 20px;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.choosegame__item_file-load input:valid + .article__placeholder {
  display: none;
}

.article__placeholder_one {
  display: block;
}

.article__placeholder_two {
  display: none;
}

input.input:focus,
input.input:not(:focus):valid {
  padding-top: 30px;
  padding-bottom: 10px;
}

input.input:focus ~ .article__placeholder,
input.input:not(:focus):valid ~ .article__placeholder {
  top: 10px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  font-size: 12px;
}

.article__form_input-load input.input:focus ~ .article__placeholder,
.article__form_input-load input.input:not(:focus):valid ~ .article__placeholder {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.875rem;
}

textarea.input {
  resize: none;
  padding: 20px 20px;
}

textarea.input::-webkit-input-placeholder {
  font-weight: 400;
}

textarea.input::-moz-placeholder {
  font-weight: 400;
}

textarea.input:-ms-input-placeholder {
  font-weight: 400;
}

textarea.input::-ms-input-placeholder {
  font-weight: 400;
}

textarea.input::placeholder {
  font-weight: 400;
}

textarea.input:hover {
  background-color: #e0dfdc;
}

textarea.input:focus,
textarea.input :not(:focus):valid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #000;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:checked + .options__label:before {
  background-color: #1c1c22;
}

.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
  padding: 1.5rem;
  padding-left: 1.25rem;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  border-radius: 50%;
  background-color: #d4d3cf;
}

.article__form_input-load .options__label:before {
  display: none;
}

.options__label:after {
  content: "";
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 27px;
  top: 31px;
}

.article__form_input-load .options__label:after {
  display: none;
}

.select {
  min-width: 0;
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #ebeae6;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 0.9375rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

._select-open .select__title {
  border-radius: 0.9375rem 0.9375rem 0 0;
  background-color: #ebeae6;
  border-color: #d4d3cf;
}

.select__title:hover {
  background-color: #ebeae6;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.75rem;
  padding: 1.0625rem 1.125rem 1.125rem 1.25rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/generalimg/arrow-sel.svg") 0 0 no-repeat;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: 500;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  background-color: #ebeae6;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 0.9375rem 0.9375rem;
  min-width: 100%;
  left: 0;
  border-top: 0;
  border: 1px solid #d4d3cf;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

._select-open .select__options {
  position: relative;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.select__scroll .simplebar-scrollbar {
  border-radius: 4px;
  background-color: #1c1c22;
}

.select__option {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 1.5rem 1.25rem;
  padding-left: 3.125rem;
  color: inherit;
}

.select__option:not(:last-child) {
  border-bottom: 1px solid #d4d3cf;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__option::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #d4d3cf;
  border-radius: 20px;
  left: 20px;
}

.select__option.option-img {
  padding-left: 4.75rem;
  font-weight: 500;
}

.select__option.option-img:hover::before {
  background-color: rgba(28, 28, 34, 0.8);
}

.select__option.option-img::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #1c1c22;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.no-webp .select__option.option-img::after{
  background: url("../img/generalimg/add.png") 0 0 no-repeat; }

.select__option.option-img::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 28px;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0px 10px 0px;
}

._select-tag {
  cursor: pointer;
}

.form-select__item-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
  text-align: left;
  border: 1px solid #ebeae6;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 0.9375rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 1.0625rem 1.125rem 1.125rem 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  height: 3.75rem;
}

.select-open .form-select__item-first {
  border-color: #D4D3CF;
  background-color: #ebeae6;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.form-select__item-first img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.select-open .form-select__item-first img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-select__item-first:active {
  background-color: #ebeae6;
}

.form-select__simplebar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-select__drop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  position: absolute;
  width: 100%;
  color: #000;
  background-color: #ebeae6;
  max-height: 357px;
  border-radius: 0 0 0.9375rem 0.9375rem;
  min-width: 100%;
  left: 0;
  border: 1px solid #d4d3cf;
  border-top: 0;
}

.select-open .form-select__drop-menu {
  overflow: hidden;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  opacity: 1;
  visibility: visible;
}

.options__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
}

.options__item:not(:last-child) {
  border-bottom: 1px solid #d4d3cf;
}

.options__item_button {
  padding: 1.25rem;
  padding-left: 0.9375rem;
}

.options__item:hover {
  background-color: #e0dfdc;
  font-weight: 500;
}

.options__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  font-weight: 500;
}

.choosegame__item_spollers .options__button {
  margin-top: 0.5rem;
}

.choosegame__item_tarifs .options__button {
  margin: 1.875rem 0rem 1.5rem 1.25rem;
}

.button-options__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.625rem;
  background-color: #1c1c22;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.button-options__img:hover {
  opacity: 0.8;
}

.button-options__img:active {
  opacity: 0.6;
}

.checkbox__label {
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 24px;
  background: #ebeae6;
  display: block;
  border-radius: 7px;
  position: relative;
}

.checkbox__label:hover {
  background: #e0dfdc;
}

.checkbox__label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #1c1c22;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .checkbox__label {
  background: #1c1c22;
}

input:checked + .checkbox__label:after {
  background: #fff;
}

input:checked + .checkbox__label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.checkbox__label:active:after {
  width: 20px;
}

.input-file {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 15px;
  line-height: 20px;
  height: 60px;
  outline: 1px solid #d4d3cf;
  background-color: #ebeae6;
}

/* Hover/Active */

.input-file:hover {
  background-color: #e0dfdc;
}

.input-file:active {
  background-color: rgba(104, 105, 105, 0.1);
}

/* Disabled */

.input-file input[type=file]:disabled {
  background-color: #eee;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.cell {
  padding: 1.25rem;
  border-radius: 1.25rem;
  background-color: #fff;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #ebeae6;
}

.title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  font-size: 1.5rem;
  font-weight: 500;
}

.subtitle {
  font-weight: 500;
}

.wrapper .page .simplebar-vertical {
  width: 4px;
  margin-right: 2px;
}

.options::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.options::-webkit-scrollbar-track {
  background: #ebeae6;
  /* color of the tracking area */
  border-radius: 100px;
}

.options::-webkit-scrollbar-thumb {
  background-color: #1c1c22;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 4px solid #ebeae6;
  /* creates padding around scroll thumb */
}

.header__container {
  padding-left: 0rem;
  padding-top: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header__title {
  font-weight: 500;
  font-size: 1rem;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.footer {
  margin-bottom: 0.125rem;
}

.footer__container {
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  margin-right: 0.125rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4.0625rem 5.9375rem 3.9375rem 5.9375rem;
  border-radius: 0.9375rem;
  background-color: #e0dfdc;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer__item:hover {
  background-color: #e9e9e9;
}

.footer__item:active {
  background-color: #d0d0d0;
}

.footer__text {
  font-weight: 500;
}

.footer__counter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.3125rem 0.6875rem;
  border-radius: 10px;
  background: #CBC6B3;
  width: 30px;
  height: 30px;
  right: 10px;
  bottom: 10px;
}

.footer__counter_two {
  border-radius: 10px;
  background: rgba(137, 139, 138, 0.5);
}

.settings {
  display: none;
}

.chois-game-done .settings {
  display: block;
}

.choosegame__container {
  margin-top: 4rem;
}

.choosegame__top {
  margin-bottom: 0.125rem;
}

.choosegame__row {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0.125rem;
     -moz-column-gap: 0.125rem;
          column-gap: 0.125rem;
}

.choosegame__item_texts {
  -webkit-column-break-before: avoid;
     -moz-column-break-before: avoid;
          break-before: avoid;
}

.choosegame__item_raspred form.article__form_input-text {
  margin-bottom: 0;
}

.article {
  position: relative;
  margin-bottom: 2px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.article__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__row:not(:last-child) {
  margin-bottom: 3rem;
}

.article__row_check {
  padding-top: 1rem;
  padding-bottom: 1.0625rem;
}

.article__row_check:not(:last-child) {
  border-bottom: 1px solid #ebeae6;
}

.article__row + .article__block {
  padding-top: 0;
}

.article__block {
  position: relative;
  padding-top: 19px;
  padding-bottom: 19px;
}

.article__block:last-child {
  padding-bottom: 0px;
}

.article__block:not(:last-child)::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 100%;
  width: 108%;
  /* 649/610 */
  height: 1px;
  background-color: #ebeae6;
}

.article__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}

.article__help {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.article__help .article__row {
  margin-bottom: 1.25rem;
}

.article__textarea {
  height: 150px;
}

.article__input-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.choosegame__item_raspred .article__input-wrapper {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  width: 52.025%;
  /* 167/610 */
}

.article__input-wrapper:has(._input-error)::after {
  content: "Ошибка: Название ошибки";
  color: var(--100, #906969);
  font-size: 0.75rem;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
}

.article__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ebeae6;
  overflow: hidden;
  outline: 1px solid #d4d3cf;
  border-left: none;
}

.article__form {
  margin-left: auto;
}

.article__form_input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.choosegame__item_texts .article__form_input-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 59.016393%;
          flex: 0 0 59.016393%;
  /* 360/610 */
}

.choosegame__item_raspred .article__form_input-text {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.article__form_textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.article__textarea-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d4d3cf;
  background-color: var(---, #FFF);
  font-weight: 500;
  color: #d4d3cf;
}

.article__textarea-button ~ .article__textarea-button_save {
  display: none;
}

.article__textarea-button ~ .article__textarea-button_error {
  display: none;
}

.article__textarea-button:active {
  display: none;
}

.article__textarea-button:active ~ .article__textarea-button_save {
  display: inline-block;
  color: #698850;
}

.article__textarea-button:invalid {
  display: none;
}

.article__textarea-button:invalid ~ .article__textarea-button_error {
  display: inline-block;
  color: #906969;
}

textarea:focus ~ .article__textarea-button {
  background-color: #1c1c22;
}

.article__button {
  height: 3.75rem;
  padding: 1.125rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.article__button:hover {
  background-color: #e0dfdc;
}

.article__button:active {
  background-color: #d7d6d3;
}

.article__button_minus {
  outline: 1px solid #d4d3cf;
}

.article__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

.article__spollers:not(:last-child) {
  margin-bottom: 1rem;
}

.article__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__texts:not(:last-child) {
  margin-bottom: 1rem;
}

.article__form-wrapper {
  display: none;
}

.select-tarif .article__form-wrapper {
  display: block;
}

.article__section:not(:last-child) {
  margin-bottom: 1rem;
}

.actions__icon {
  width: 48px;
  height: 48px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.actions__icon_del {
  background-color: var(--10, rgba(144, 105, 105, 0.1));
}

.actions__icon_del:hover {
  background-color: rgba(173, 67, 67, 0.1);
}

.actions__icon_del:active .del__close {
  display: none;
}

.actions__icon_del:active .del__open {
  display: block;
}

.actions__icon_load {
  background: rgba(114, 76, 138, 0.1);
}

.actions__icon_load:hover {
  background: rgba(126, 90, 148, 0.14);
}

.actions__icon_load:active {
  background: rgba(85, 66, 97, 0.12);
}

.del__open {
  display: none;
}

.help-article__subtext {
  color: rgba(28, 28, 34, 0.502);
}

.help-article__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.help-article__text {
  max-width: 5.6875rem;
  font-weight: 500;
}

.spollers__body {
  max-height: 445px;
  overflow-y: auto;
}

.spollers__body .options__button:not(:last-child) {
  margin-bottom: 1rem;
}

.spollers__item {
  border-radius: 15px;
  border: 1px solid #d4d3cf;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.choosegame__top .spollers__item {
  border-color: #ebeae6;
}

.spollers__item[open] {
  background-color: #ebeae6;
  overflow: hidden;
}

.spollers__form {
  padding: 1px;
}

.spollers__title {
  cursor: pointer;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.125rem 1.0625rem 1.25rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.spollers__title img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.spollers__title._spoller-active img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spollers__title:hover {
  background-color: #f4f4f1;
}

.spollers__body {
  padding: 1.25rem;
}

.choosegame__top .spollers__body {
  padding: 0;
}

.choosegame__item_tarifs .spollers__body {
  padding: 0;
}

.spollers__form:not(:last-child) {
  margin-bottom: 1rem;
}

.texts__subtitle {
  color: rgba(28, 28, 34, 0.502);
}

.texts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.file__Preview {
  display: block;
  padding-top: 1rem;
}

.file__Preview img {
  width: 100%;
}

@media (min-width: 47.99875em) {
  .header__menu {
    display: none;
  }

  .choosegame__row_two {
    -webkit-column-count: initial;
       -moz-column-count: initial;
            column-count: initial;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .choosegame__item_file-load div.article__row {
    margin-bottom: 2.5rem;
  }

  .article__row_bigmb:not(:last-child) {
    margin-bottom: 3.875rem;
  }

  .article__button img.smallimg {
    display: none;
  }
}

@media (min-width: 85.375em) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    padding-left: 1.5rem;
    padding-right: 24px;
  }

  .input {
    height: 48px;
  }

  .input {
    padding: 0.9375rem 1rem 1rem 1rem;
  }

  article.choosegame__item_tarifs .input {
    font-weight: 400;
  }

  .article__placeholder {
    left: 16px;
  }

  .article__placeholder_one {
    display: none;
  }

  .article__placeholder_two {
    display: block;
  }

  input.input:focus,
  input.input:not(:focus):valid {
    padding-top: 22px;
    padding-bottom: 9px;
  }

  .options__label {
    font-size: 0.75rem;
    padding: 1rem;
    padding-left: 0.9375rem;
  }

  .options__label:after {
    top: 23px;
    left: 22px;
  }

  .select__title {
    border-radius: 0.9375rem;
  }

  .select__value {
    height: 3.125rem;
    padding: 0.75rem 1rem 0.8125rem 1rem;
  }

  .select__content {
    font-size: 0.75rem;
  }

  .select__option {
    padding: 1rem;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
    padding-left: 2.75rem;
    font-size: 0.75rem;
  }

  .select__option.option-img {
    padding-left: 3.9375rem;
  }

  .select__option.option-img::before {
    width: 32px;
    height: 32px;
    background-size: cover;
    left: 23px;
  }

  .select__option.option-img::after {
    left: 27px;
  }

  .option-img.select__options::before {
    left: 23px;
  }

  .form-select__item-first {
    height: 3.125rem;
    padding: 0.75rem 1rem 0.8125rem 1rem;
  }

  .options__item_button {
    padding-left: 1.125rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .choosegame__item_tarifs .options__button {
    margin: 0rem 0rem 1.125rem 1.25rem;
  }

  .options__button {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
    font-size: 0.75rem;
  }

  .button-options__img {
    width: 2rem;
    height: 2rem;
  }

  .input-file {
    width: 78.571429%;
    /* 220/280 */
  }

  .input-file {
    height: 48px;
  }

  .cell {
    padding: 1rem;
    border-radius: 0.9375rem;
  }

  .header__title {
    display: none;
  }

  .header__button {
    display: none;
  }

  .footer {
    display: none;
  }

  .choosegame__container {
    margin-top: 2rem;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .choosegame__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .choosegame__row_three {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .choosegame__row_three .article:nth-child(4) {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }

  .choosegame__row_three .article:nth-child(3) {
    -ms-grid-row: 8;
        grid-row-start: 8;
  }

  .choosegame__item_checks div.article__row {
    margin-bottom: 0;
  }

  .article__row:not(:last-child) {
    margin-bottom: 1rem;
  }

  .article__row_check {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .article__block {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .article__block:not(:last-child)::after {
    left: -16px;
  }

  .article__left .help-article__subtext {
    font-size: 0.75rem;
  }

  .article__left {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }

  .article__help {
    display: none;
  }

  .article__help .article__row {
    display: none;
  }

  .article__help {
    display: none;
  }

  .article__textarea {
    height: 120px;
  }

  .choosegame__item_tarifs .article__input-wrapper:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30.714286%;
            flex: 0 0 30.714286%;
    /* 86/280 */
  }

  .choosegame__item_raspred .article__input-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .article__form_input-load {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .article__button {
    height: 3rem;
    padding: 0.84375rem;
  }

  .article__button img.bigimg {
    display: none;
  }

  .article__spollers:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .article__texts {
    display: block;
  }

  .article__section:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .choosegame__item_tarifs .spollers__title {
    padding-top: 0.75rem;
    padding-bottom: 0.8125rem;
  }

  .spollers__body {
    margin-top: 1rem;
  }

  .spollers__form:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .texts__title {
    display: block;
    margin-bottom: 0.5rem;
  }

  .choosegame__item_raspred .texts__title {
    margin-bottom: 0;
  }

  .texts__subtitle {
    font-size: 0.75rem;
  }

  .texts__block {
    margin-bottom: 0.5rem;
  }

  .file__Preview {
    padding-top: 0.5rem;
  }
}

@media (max-width: 22.25em) {
  .title {
    font-size: 1.125rem;
  }

  .subtitle {
    font-size: 0.75rem;
  }
}

@media (min-width: 22.25em) and (max-width: 85.375em) {
@supports (font-size: clamp( 1.125rem , 0.9928217822rem  +  0.5940594059vw , 1.5rem )) {
    .title {
      font-size: clamp( 1.125rem , 0.9928217822rem  +  0.5940594059vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9928217822rem  +  0.5940594059vw , 1.5rem )) {
    .title {
      font-size: calc(1.125rem + 0.375 * (100vw - 22.25rem) / 63.125);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6178217822rem  +  0.5940594059vw , 1.125rem )) {
    .subtitle {
      font-size: clamp( 0.75rem , 0.6178217822rem  +  0.5940594059vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6178217822rem  +  0.5940594059vw , 1.125rem )) {
    .subtitle {
      font-size: calc(0.75rem + 0.375 * (100vw - 22.25rem) / 63.125);
    }
}
}

@media (any-hover: hover) {
  .input:hover {
    background-color: #e0dfdc;
  }

  .select__option:hover {
    background: #e0dfdc;
    font-weight: 500;
  }

  .form-select__item-first:hover {
    background-color: #f4f4f1;
  }
}

.webp .select__option.option-img::after{ background: url(../img/generalimg/add.webp) 0 0 no-repeat; }